header {
	position: relative;
	margin-bottom: 80px;
}
header .navBar {
	position: relative;
	z-index: 2;
}
header .headerContent {
	position: relative;
	z-index: 2;
}

.header .overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(23, 20, 38, 0.7);
	z-index: 1;
}

header .headerBg {
	background-image: url("../../../Resources/Images/headerBg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
