.payment section {
	width: 90%;
	margin: auto;
}
.payment .progressContainer {
	position: relative;
	width: 70%;
	height: 40px;
	margin: auto;
	margin-bottom: 40px;
}

.payment .progress {
	height: 5px;
	background-color: #afafaf;
	z-index: 0;
	overflow: visible;
}
.payment .bg-warning {
	background-color: #fcd842 !important;
}
.payment .firstText {
	transform: translateX(-28%);
}
.payment .secondText {
	transform: translateX(18%);
}
.payment .thirdText {
	transform: translateX(38%);
}
.payment .circle1 {
	transform: translateY(-55%);
	color: #ffffff;
	background-color: #afafaf;
	height: 40px;
	width: 40px;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	font-weight: 700;
	border-radius: 50%;
}
.payment .active {
	color: #171426 !important;
	background-color: #fcd842 !important;
}
.payment .circle2 {
	transform: translateY(-55%);
	color: #ffffff;
	background-color: #afafaf;
	height: 40px;
	width: 40px;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	font-weight: 700;
	border-radius: 50%;
}
.payment .circle3 {
	transform: translateY(-55%);
	color: #ffffff;
	background-color: #afafaf;
	height: 40px;
	width: 40px;
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	border-radius: 50%;
}

/* Form */

.payment .margin {
	margin: 15px 0;
}

.payment .button {
	width: fit-content;
	color: #171426;
	background-color: #fcd842;
	padding: 5px 30px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-bottom: 100px;
	text-align: center;
	cursor: pointer;
}
.payment .button:disabled {
	color: #171426;
	background-color: rgb(252, 216, 66);
}

.payment .button:hover {
	color: #171426;
	background-color: #fcd842;
}
