.membership section {
	width: 90%;
	margin: auto;
}
.membership .margin {
	margin: 15px 0;
}

.membership .buttonPadding {
	display: flex;
	justify-content: end;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
}
.membership .button {
	width: fit-content;
	color: #171426;
	background-color: #fcd842;

	padding: 5px 30px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-bottom: 100px;
	text-align: center;
	cursor: pointer;
}

.membership .button:hover {
	color: #171426;
	background-color: #fcd842;
}
