.blog .navigation {
	width: 90%;
	margin: auto;
	margin-bottom: 80px;
}
.blog .navigation .logo {
	cursor: pointer;
}
.blog .navigation button {
	color: #ffffff;
	background-color: transparent;
	border: none;
	font-size: 1rem;
	font-weight: 400;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.blog .navigation button:hover {
	color: #171426;
	background-color: #fcd842;
}
.blog .navigation a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1rem;
	font-weight: 400;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.blog .navigation a:hover {
	color: #171426;
	background-color: #fcd842;
}
.blog .navigation .active {
	color: #171426;
	background-color: #fcd842;
}

.blog .navigation .navbar-toggler {
	background-color: #ffffff;
	border: none;
	outline: none;
}
.blog .navigation .navbar-toggler:focus {
	box-shadow: none;
}
