.signUp section {
	width: 90%;
	margin: auto;
}
.signUp .formContainer {
	margin: auto;
	width: 40%;
	border-radius: 5px;
	color: #fff;
	padding: 40px 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 80px;
}
.signUp input {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
	border: none;
	border-bottom: 1px solid rgba(23, 20, 38, 0.3);
}

.signUp input:focus {
	outline: none;
	border-bottom: 1px solid rgba(23, 20, 38, 0.3);
}

.signUp label {
	color: #171426;
}

.signUp .submit {
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	font-size: 1.3rem;
	font-weight: 700;
	color: #171426;
	background-color: #fcd842;
	padding: 5px 30px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-top: 5px;
	margin-bottom: 15px;
}

.signUp h4 {
	color: #171426;
	text-align: center;
	font-size: 1.1rem;
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	margin-bottom: 15px;
}
.signUp .forgottenPass {
	display: flex;
	flex-direction: column;
	justify-content: start;
	color: #171426;
	text-align: right;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 15px;
	text-decoration: underline;
	cursor: pointer;
}
.signUp .signUp {
	display: flex;
	flex-direction: column;
	justify-content: end;
	color: #171426;
	text-align: left;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 15px;
	text-decoration: underline;
	cursor: pointer;
}

.signUp h6 {
	color: #171426;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 15px;
}
.signUp span {
	text-decoration: underline;
	cursor: pointer;
}

.signUp .buttonBg {
	width: 55%;
	margin: auto;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 10px 15px;
	margin-bottom: 15px;
	cursor: pointer;
}

.signUp h3 {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: "Oswald", sans-serif;
	font-weight: 700;
}

.signUp ion-icon {
	font-size: 1.2rem;
	display: flex;
}

.signUp .google {
	background-color: #df4931;
}

.signUp .facebook {
	background-color: #3c5a9a;
}
